<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'base'%>
	
	</br>
	</br>
		<div>
			<p class='center'>ChartAir streamlines communication within the aviation industry by increasing visibility of airport expenses, </p>
			<p class='center'>saving you both time and money. This information is fundamental for establishing the cost of a trip, yet tedious to gather. </p>
			<p class='center'>Our digital platform provides pilots, businesses, and operators instant access to fees without the hassle of calling. </p>
			<p class='center'>ChartAir exists to simplify the overall flight process from planning to parking. </p>
		</div>
		
		</br>
		</br>
		
	<div class="summary">	
		<h1 class="title">Our Team</h1>
		
		<table id="ourTeamTable">
			
			<tr>
				<td><%= image_tag "olivia", class: "small"%></td>
				<td class="aboutUsText"><div class="name">Olivia Keneipp</div>Co-Founder and CEO</td>
				<td> <%= image_tag "madison", class: "small"%></td>
				<td class="aboutUsText"><div class="name">Madison Belka</div>Co-Founder and Lead Frontend Developer</td>
			</tr>
				
			<tr>
				<td><%= image_tag "logan", class: "small"%></td>
				<td class="aboutUsText"><div class="name">Logan Ayers</div>Co-Founder and Lead Backend Developer</td>
				<td><%= image_tag "clare", class: "small"%></td>
				<td class="aboutUsText"><div class="name">Clare Colt</div>Co-Founder and Business Consultant</td> 
			</tr>
			
		</table>

	</div>
	
	</br>
	</br>
	
	<div class="summary">
		<p class="center">Private aviation is an amazing industry that allows people to visit and explore new places and businesses to extend their reach. At ChartAir, we aim to make it even easier and more fun to explore, visit, and extend great ideas from one location to another. </p>
		<p class="center">Working with the local airport while students at Knox College in Galesburg, IL, we learned about the need for greater fee transparency among FBOs for pilots, businesses, and charter companies to accurately plan a trip. So, what started as a college project for Start-Up Term at Knox College, quickly turned into a full-time business.</p>
		<p class="center">As we worked on the project during Start-Up Term, we found ourselves with more and more interest from within and outside of the industry, people rooting for us and wanting to help create an easier flight experience for everyone involved. We’ve had so much interest that it wasn’t long before we found ourselves in a start-up development program in downtown Chicago, Elmspring Accelerator.  We have a team of mentors helping and guiding our development as we build a platform designed to change the way private aviation plans, books, and pays for flights.</p>
	</div>	