<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'base'%>
	
	</br>
	</br>
	
	<div class="summary">
		<h1 class="title">Our Goals</h1>
		<div >
			<p class='center'>ChartAir streamlines communication within the aviation industry by increasing visibility of airport expenses, </p>
			<p class='center'>saving you both time and money. This information is fundamental for establishing the cost of a trip, yet tedious to gather. </p>
			<p class='center'>Our digital platform provides pilots, businesses, and operators instant access to fees without the hassle of calling. </p>
			<p class='center'>ChartAir exists to simplify the overall flight process from planning to parking. </p>
		</div>
		
		</br>
		</br>
		
		<h1 class="title">Our Team</h1>
		
		<table id="ourTeamTable">
			
			<tr>
				<td></td>
				<td><%= image_tag "olivia", class: "small"%></td>
				<td class="aboutUsText"><div class="name">Olivia Keneipp</div>Co-Founder and CEO</td>
				<td></td>
			</tr>
				
			<tr>
				<td></td>
				<td> <%= image_tag "madison", class: "small"%></td>
				<td class="aboutUsText"><div class="name">Madison Belka</div>Co-Founder and Lead Frontend Developer</td>
				<td></td>
			</tr>
				
			<tr>
				<td></td>
				<td><%= image_tag "logan", class: "small"%></td>
				<td class="aboutUsText"><div class="name">Logan Ayers</div>Co-Founder and Lead Backend Developer</td>
				<td></td>
			</tr>
				
			<tr>
				<td></td>
				<td><%= image_tag "clare", class: "small"%></td>
				<td class="aboutUsText"><div class="name">Clare Colt</div>Co-Founder and Business Consultant</td> 
				<td></td>
			</tr>
			
		</table>

	</div>
	
	</br>
	</br>
	
	<div class="summaryStory">
		<p class="center">ChartAir started as a school project with Olivia Keneipp, Logan Ayers, Madison Belka, Clare Colt, and Cortney Hill. Cortney Hill discovered a pain point in the avation industry after reaching out and talking to a local charter opperator. ChartAir has continued on past a school project and is working hard to make it as a start up compnay.</p>
	</div>