<%= stylesheet_link_tag 'landing'%>

<header>
    <div id="navBar">
		<ul id="headerNavItems">
				<li class="item"><%= link_to "Plan Trip", plantrip_path,  method: :get %></li>
				<li class="item"><%= link_to "About Us", about_us_path %></li>
				<li class="item"><%= link_to "Help", help_path %></li>
				<% if logged_in? %>
		          <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		              Account <b class="caret"></b>
		            </a>
		            <ul class="dropdown-menu">
		              <li class="darkGray"><%= link_to "Profile", profile_path,  method: :get%></li>
		              <li class="darkGray"><%= link_to "Trips", trips_path,  method: :get %></li>
		              <li class="divider"></li>
		              <li class="darkGray">
		                <%= link_to "Log out", logout_path, method: :delete %>
		              </li>
		            </ul>
		          </li>
		        <% else %>
		          <li><%= link_to "Log in", login_path, :class => "item" %></li>
		        <% end %>
		</ul>
	</div>
</header>


<% unless flash.empty? %>
    <div id="notice">
        <% flash.each do |key, value| %>
            <div class="flash <%= key %>">
            <%= value %>
            </br>
            </div>
        <% end %>
    </div>
<% end %> 
    
<!--High level what we do-->
<div id="highLevel">
    </br>
     <p class="center"><%= image_tag "logoBright4", class: "highLevelHeader"%></p>
     <h3 class="black">Information: Plane and Simple</h3>
     </br>
     </br>
     <h2 class="center">With ChartAir, you can compare fees from multiple FBOs at the touch of a button, giving you control over where you land and how much you pay.</h2>
     </br>
     <div class="center"><%= link_to "Get Started For Free!", request_path, :id => "startButton" %></div>
</div>

<div id="currentPartners">
    
</div>

<!--Contact us!-->
<div id="contactUs">
    </br>
    </br>
    <h1 class="title">What We Can Do For You</h1>
    <table id="contactUsTable">
        <tr>
            <td><h2>Pilots</h2></td>
            <td><h2>Charter Operators</h2></td>
            <td><h2>Business Aviation</h2></td>
        </tr>
        <tr>
            <td><%= image_tag "piolet", class: "contactUsPictures"%></td>
            <td><%= image_tag "FBO", class: "contactUsPictures"%></td>
            <td><%= image_tag "pass", class: "contactUsPictures"%></td>
        </tr>
        <tr>
            <td><div class="short">With ChartAir, you can get an instant comparison of all the FBOs in an area so you can choose the one that best fits your needs.</div></td>
            <td><div class="short">We enable charter operators to spend less time on the phone and more time to provide customers with the fastest and most competitive quotes.</div></td>
            <td><div class="short">ChartAir makes flight planning more streamlined, allowing you to save time in the planning process and find the most cost effective route.</div></td>
        </tr>
    </table>
    </br>
    </br>
</div>

<!--Reach out to fbos and airports-->
<div id="airportReachOut">
    <h3 class="center">Want to make sure customers can access accurate information for your FBO or Airport? </br> Contact us at info@chartair.us!</h3>
</div>

<!--Details what we do-->
<div id="details">
    <p>Private aviation is an amazing industry that allows people to visit and explore new places and allows businesses to extend their reach. At ChartAir, we aim to make it even easier and more fun to explore, visit, and extend great ideas from one location to another. By allowing access to landing, ramp, tie-down, and call-out fees, you can compare and contrast the best place to land with ease.</p>
</div>


<!--Talking about our solution-->
<div id="ourSolution">
    <h1 id="megaTitle">There is a Better Way</h1>
    </br>
    </br>
    
    <table id="ourSolutionTable">
        <tr>
            <td><h2 class="title">Current Solution</h2></td>
            <td><h2 class="title">Our Solutions</h2></td>
        </tr>
        <tr>
            <td>
                </br>
                <table class="center" id="innerOurSolutionTable">
                    <tr>
                        <td>In order to compare prices at different airports, you have to find contact information for each one, then manually call every airport, hope they pick up, then, once you finally have the data, compare the fees by hand. This tedious process takes time that could be better spent in the air.</td>
                    </tr>
                </table>
            </td>
            
            <td>
                </br>
                <table class="center" id="innerOurSolutionTable">
                    <tr>
                        <td>Picking the right airport for you becomes a breeze with our comprehensive sorting and comparison tools! With ChartAir, you can quickly search for landing, ramp, facility, and call-out fees, all specialized to your airplane.</td>
                    </tr>
                    <tr>
                        <td><p></p></td>
                    </tr>
                    <tr>
                        <td><p class="center"><%= link_to "Join Now for Free!", request_path, :id => "startButton2" %></p></td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
    
    </br>
    </br>
</div>

<!--Credits-->
<div id="bottomCredits">
    <div class="footCenter"><strong class="center">&copy; 2017 ChartAir, Inc </strong> <a href="http://sed-rah-stock.deviantart.com/" class="right">sed-rah-stock</a></div>
</div>
