<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'base'%>
    
<h1 class= "title">Upcoming Trips</h1>

<% if @nextTrips.length>0%>
<table>
    <tr>
        <td class="columnTitles">Trip Status</td>
        <td class="columnTitles">Destination</td>
        <td class="columnTitles">Time and Date of Arrival</td>
        <td class="columnTitles">Airplane</td>
        <td class="columnTitles">Cost</td>
    </tr>
    <% @nextTrips.each do |trip|%>
        <tr class="tableItems">
         
          <%if trip["trip_status"]==="issue"%>
              <td><%= image_tag("flagIcon.png",  :class => "icon") %> <%= link_to "Resolve Issue", trip_resolution_path(:trip => trip["id"], :reason => "issue") %></td>
          <%end%>
          
          <%if trip["trip_status"]==="cancelled"%>
              <td><%= image_tag("flagIcon.png",  :class => "icon") %> <%= link_to "Resolve Cancellation", trip_resolution_path(:trip => trip["id"], :reason => "cancelled") %></td>
          <%end%>
          
          <%if trip["trip_status"]==="priceChange"%>
              <td><%= image_tag("flagIcon.png",  :class => "icon") %> <%= link_to "Resolve Price Update", trip_resolution_path(:trip => trip["id"], :reason => "priceChange") %></td>
          <%end%>
         
          <%if trip["trip_status"]==="pending"%>
              <td><%=trip["trip_status"].capitalize%></td>
          <%end%>
          
          <%if trip["trip_status"]==="confirmed"%>
              <td><%=trip["trip_status"].capitalize%></td>
          <%end%>
          
          <td><%=Airport.find_by(:id => trip["airport_id"]).name.titleize%></td>
          <td><%=trip["arrival_time"].strftime("%I:%M%p %m/%d/%Y")%></td>
          <td><%=trip["tailnumber"]%></td>
          
          <%if trip["cost"]!=1000001%>
              <td>$<%=trip["cost"]%></td>
          <%else%>
              <td>Unknown</td>
          <%end%>
        </tr>
    <%end%>
</table>    
<%else%>
    <p class="summary">You have no upcoming trips.</p>
<%end%>

</br>
</br>

<h1 class= "title">Previous Trips</h1>

<% if @prevTrips.length>0%>
    <table>
            <tr>
                <td class="columnTitles">Feedback</td>
                <td class="columnTitles">Trip Status</td>
                <td class="columnTitles">Destination</td>
                <td class="columnTitles">Time and Date</td>
                <td class="columnTitles">Airplane</td>
                <td class="columnTitles">Cost</td>
            </tr>
        <% @prevTrips.each do |trip|%>
            <tr class="tableItems">
              
              <%if trip["trip_status"]==="completed"%>
                  <td><%= link_to "Rate Trip", report_path(:trip_id => trip["id"]) %></td>
              <%end%>
                
              <td>Completed</td>
              <td><%=Airport.find_by(:id => trip["airport_id"]).name.titleize%></td>
              <td><%=trip["arrival_time"].strftime("%I:%M%p %m/%d/%Y")%></td>
              <td><%=trip["tailnumber"]%></td>
              <td>$<%=trip["cost"]%></td>
              
            </tr>
        <%end%>
    </table>
<%else%>
    <p class="summary">You have no previous trips.</p>
<%end%>