<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'base'%>

<div class="body">
<h1 class= "title">All Trips</h1>

<table>
    <tr>
        <td class="columnTitles">Trip Status</td>
        <td class="columnTitles">Destination</td>
        <td class="columnTitles">Time and Date</td>
        <td class="columnTitles">Airplane</td>
        <td class="columnTitles">Cost</td>
        <td class="columnTitles"></td>
    </tr>
    <% @nextTrips.each do |trip|%>
        <tr class="tableItems">
          
          <td><%=trip["trip_status"]%></td>
          <td><%=Airport.find_by(:id => trip["airport_id"]).name%></td>
          <td><%=trip["arrival_time"]%></td>
          <td><%=trip["tailnumber"]%></td>
          <td>$<%=trip["cost"]%></td>
          
          <%if trip["trip_status"]==="completed"%>
              <td><%= link_to "Rate Trip", report_path(:trip_id => trip["id"]) %></td>
          <%end%>
          
          <%if trip["trip_status"]==="issue"%>
              <td><%= link_to "Resolve Issue", trip_resolution_path(:trip => trip["id"], :reason => "issue") %></td>
          <%end%>
          
          <%if trip["trip_status"]==="canceled"%>
              <td><%= link_to "Resolve Cancleation", trip_resolution_path(:trip => trip["id"], :reason => "cancled") %></td>
          <%end%>
          
        </tr>
    <%end%>
    <% @prevTrips.each do |trip|%>
        <tr class="tableItems">
            
          <td>Confirmed</td>
          <td><%=Airport.find_by(:id => trip["airport_id"]).name%></td>
          <td><%=trip["arrival_time"]%></td>
          <td><%=trip["tailnumber"]%></td>
          <td>$<%=trip["cost"]%></td>
          
          <%if trip["trip_status"]==="completed"%>
              <td><%= link_to "Rate Trip", report_path(:trip_id => trip["id"]) %></td>
          <%end%>
          
          <%if trip["trip_status"]==="issue"%>
              <td><%= link_to "Resolve Issue", trip_resolution_path(:trip => trip["id"], :reason => "issue") %></td>
          <%end%>
          
          <%if trip["trip_status"]==="canceled"%>
              <td><%= link_to "Resolve Cancleation", trip_resolution_path(:trip => trip["id"], :reason => "cancled") %></td>
          <%end%>
          
        </tr>
    <%end%>
</table>
</div>