<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'base'%>

<div class="body">
<%if @problem==="cancelled" %>

    <h2 class="title">Sadly, your trip has been Cancelled</h2>
    <p class="summaryText">While booking we found your trip could not be made because:</p>
    
    <p class="summaryText"><%=@issue%></p>
    </br>
    </br>
    <p class="center"><%= link_to "Replace Trip", resolve_trip_path(:resolution => "plan_trip", :trip => @trip), method: :post, class: "issueButton" %> <%= link_to "Cancel Trip", resolve_trip_path(:resolution => "remove", :trip => @trip), method: :post, class: "issueButton" %></p>

<%end%>

<% if @problem==="issue" %>

    <h2 class="title">There was an Issue with your Trip</h2>
    <p class="summaryText">While booking your flight we found that:</p>
    
    <p class="summaryText"><%=@issue%></p>
    </br>
    </br>
    <p class="center"><%= link_to "Confirm Trip", resolve_trip_path(:resolution => "confirm", :trip => @trip), method: :post, class: "issueButton" %> <%= link_to "Replace Trip", resolve_trip_path(:resolution => "plan_trip", :trip => @trip), method: :post, class: "issueButton" %> <%= link_to "Cancel Trip", resolve_trip_path(:resolution => "remove", :trip => @trip), method: :post, class: "issueButton" %></p>

<%end%>
</div>