<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'main'%>

<div class="body">
<%if @problem==="cancled" %>

    <h2>Your trip has been cancled</h2>
    <p>We are very sorry for the inconveince, but your flight could not occur because:</p>
    <p><%=@issue%></p>
    
    <button><%= link_to "Replace Trip", resolve_trip_path(:resolution => "plan_trip", :trip => @trip), method: :post%></button>
    </br>
    <button><%= link_to "Cancel Trip", resolve_trip_path(:resolution => "remove", :trip => @trip), method: :post%></button>

<%end%>

<% if @problem==="issue" %>

    <h2>There was an issue with your trip</h2>
    <p>While booking your flight we found that:</p>
    <p><%=@issue%></p>
    
    <button><%= link_to "Confirm Trip Anyways", resolve_trip_path(:resolution => "confirm", :trip => @trip), method: :post%></button>
    </br>
    <button><%= link_to "Replace Trip", resolve_trip_path(:resolution => "plan_trip", :trip => @trip), method: :post%></button>
    </br>
    <button><%= link_to "Cancel Trip", resolve_trip_path(:resolution => "remove", :trip => @trip), method: :post%></button>

<%end%>
</div>