<!DOCTYPE html>
<html>
    
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
      
    <p>Hello <%= @user.name %>!</p>
    
    <p>Your trip to <%=@airport.name.titleize%>, landing at <%=@fbo.name.titleize%> has been confirmed!</p>
    
    <p>Your price has been confirmed at $<%=@cost%>!</p>
    
    <p>For more information click: <%=@url%></p>
    
    <p>Thank you for booking with ChartAir!</p>
    
  </body>
  
</html>