<!DOCTYPE html>
<html>
    
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    
    <p><%=@fbo%> from <%=@airport%> airport, in <%=@city%> <%=@state%>, has sent us their fees!</p>
    <p><%=@employee_name%> says:</p>
    <p><%=@email%></p>
    
  </body>
  
</html>