<%= stylesheet_link_tag 'main'%>

<h1>Admin</h1>

<h2>Trips</h2>

<table id="trips">
    <tr>
        <td><h3>Trip Status</h3></td>
        <td><h3>Destination</h3></td>
        <td><h3>Time and Date</h3></td>
        <td><h3>Airplane</h3></td>
        <td><h3>Cost</h3></td>
        <td><h3></h3></td>
        <td><h3></h3></td>
    </tr>
    <% @trips.each do |trip|%>
        <tr>
          <td><h3><%=trip["trip_status"]%></h3></td>
          <td><h3><%=Airport.find_by(:id => trip["airport_id"]).name%></h3></td>
          <td><h3><%=trip["arrival_time"]%></h3></td>
          <td><h3><%=trip["tailnumber"]%></h3></td>
          <td><h3>$<%=trip["cost"]%></h3></td>
          <td><%= link_to "Confirm Trip", confirm_trip_path(:trip_id => trip["id"]) %></td>
          <td><%= link_to "Mark Issue", problem_trip_path(:trip_id => trip["id"], :problem => "issue")%></td>
          <td><%= link_to "Cancel Trip", problem_trip_path(:trip_id => trip["id"], :problem => "canceled")%></td>
        </tr>
    <%end%>
</table>

<h2>Unseen Reports</h2>

<table id="trips">
    <tr>
        <td><h3>Fbo</h3></td>
        <td><h3>Fbo Rating</h3></td>
        <td><h3>Fbo Comment</h3></td>
        <td><h3>Trip Rating</h3></td>
        <td><h3>Trip Comment</h3></td>
        <td><h3></h3></td>
    </tr>
    <% @reports.each do |report|%>
        <% if Trip.find_by(:id => report["trip_id"])!=nil %>
            <tr>
              <td><h3><%=Fbo.find_by(:id => Trip.find_by(:id => report["trip_id"]).fbo_id).name%></h3></td>
              <td><h3><%=report["fbo_rating"]%></h3></td>
              <td><h3><%=report["fbo_comments"]%></h3></td>
              <td><h3><%=report["trip_rating"]%></h3></td>
              <td><h3><%=report["trip_comments"]%></h3></td>
              <td><%=link_to "Mark as Seen", seen_report_path(id: report.id), method: :post %></td>
            </tr>
        <%end%>
    <%end%>
</table>

<h2>Seen Reports</h2>

<table id="trips">
    <tr>
        <td><h3>Fbo</h3></td>
        <td><h3>Fbo Rating</h3></td>
        <td><h3>Fbo Comment</h3></td>
        <td><h3>Trip Rating</h3></td>
        <td><h3>Trip Comment</h3></td>
    </tr>
    <% @seen_reports.each do |report|%>
        <tr>
          <td><h3><%=Fbo.find_by(:id => Trip.find_by(:id => report["trip_id"]).fbo_id).name%></h3></td>
          <td><h3><%=report["fbo_rating"]%></h3></td>
          <td><h3><%=report["fbo_comments"]%></h3></td>
          <td><h3><%=report["trip_rating"]%></h3></td>
          <td><h3><%=report["trip_comments"]%></h3></td>
        </tr>
    <%end%>
</table>