<h2>Reason for <%=@issue%></h2>
<%= form_for(@problem, url: post_problem_path) do |f| %>
    <%= f.text_field :reason%>
    <%= f.text_field :problem,{value: @issue}%>
    <%= f.number_field :trip_id,{value: @trip}%>
    <%= f.submit "Post Reason", class: "btn btn-primary" %>
<% end %>