<%= stylesheet_link_tag 'sessions' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3" id="loginBox">
    <%= form_for(@user) do |f| %>
      
      <div id="loginGroup">
        
        <h1>Sign up</h1>
        
        <%= render 'layouts/error_messages' %>
    
        <p class="loginInfo"><%= f.text_field :name, class: 'form-control', id: "input", :placeholder=>"Username" %></p>

        <p class="loginInfo"><%= f.email_field :email, class: 'form-control', id: "input", :placeholder=>"Email" %></p>

        <p class="loginInfo"><%= f.password_field :password, class: 'form-control', id: "input", :placeholder=>"Password" %></p>

        <p class="loginInfo"><%= f.password_field :password_confirmation, class: 'form-control',id: "input", :placeholder=>"Password Confirmation" %></p>

        <%= f.submit "Create my account", class: "btn btn-primary" %>
      
      </div>
      
    <% end %>
  </div>
  
</div>
