<%= render 'layouts/header' %>
<%= javascript_include_tag 'fboForm' %>
<%= stylesheet_link_tag 'base'%>
<%= stylesheet_link_tag 'feeForm'%>

<h1 class="title">Update your Fees</h1>

<ul id="sidebar">
    <li>Overwhelmed?</li>
    <li>Click Here</li>
</ul>

<%=form_for @fbo, url: fbo_form_path(@fbo), html: { method: :put } do |f|%>
  <%@fee_types.each do |id|%>
    <h2><%=FeeType.find_by(:id => @fee_types[@count]).fee_type_description.titleize%></h2>
    
    <%=f.fields_for :feilds do |builder|%>
      <%=render "fee_feilds", f: builder%>
    <%end%>
    <%= link_to_add_fields "+", f, :fees %>
    
    <%@count+=1%>
  <%end%>  
  
  </br>
  </br>
  <%= f.submit "Submit your Fees", class: "btn btn-primary" %>
  
<%end%>