<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'main'%>

<h1>Finish Booking Your Trip</h1>

<h3>Trip Infomation</h3>

<%= @fbo %>
<%= @airport %>
<%= @tailnumber %>
<%= @coast %>
    
<h3>When are you taking your trip?</h3>

<%= form_for @trip do |f| %>

<%= f.date_select :date, :order => [:day, :month] %>

<h2>NOTICE!</h2>
<p>After booking your trip, the trip will be marked as pending. Once the information regarding your trip is confirmed and the airport is notified by your arrival, your trip will be marked as confirmed.</p>

<%= f.submit "Book Trip", class: "btn btn-primary" %>
   
<%end%>

