<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'planTrip' %>

<h1>PlanTrip</h1>

<table id="planTripTable">
    
        <tr>
            <td class="center"><h2>State</h2></td>
            <td class="center"><h2>City</h2></td>
            <td class="center"><h2>Distance</h2></td>
            <td class="center"><h2>Airplane</h2></td>
            <td class="center"><h2>Filter</h2></td>
        </tr>    
   
</table>

<%= form_for(@plan_trip, url: plantrip_path) do |f| %>
    <%= f.select :state, [],{}, {class: "form-control", id:'states', :onchange=> "changeCities();"}%>
    <%= f.select :city, [],{}, {class: "form-control", id:'cities'}%>
    <%= f.number_field :distance,{id: "input", value: 50 }%>
    <%= f.select :airplane,[],{}, {class: "form-control", id:'airplanes'}%>
    <%= f.select :filter, ["Cost","Distance"],{}, {class: "form-control", id:'filters'}%>
    <%= f.submit "Plan Trip", class: "btn btn-primary" %>
<% end %>
