<%= include_gon %>
<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'base', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'plan_trip', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'planTrip' %>

<div class="body">
    
 <% unless flash.empty? %>
        <div id="notice">
          <% flash.each do |key, value| %>
              <div class="flash <%= key %>">
                <%= value %>
                </br>
             </div>
          <% end %>
        </div>
  <% end %>   
  
<h1 class="title">Plan Your Trip</h1>

        <div class="formPlanTrip">
            
            <%= form_for(@plan_trip, url: plantrip_path) do |f| %>
                            
                            <div id="locationInfo">
                                <p class="formLable">State</p>
                                <%= f.select :state, [],{}, {class: "form-control", id:'states', :onchange=> "changeCities();"}%></p>
                                <p class="formLable">City</p>
                                <%= f.select :city, [],{}, {class: "form-control", id:'cities'}%></p>
                                <p class="formLable">Distance (mi) From City Center</p>
                                <p class="center"><%= f.number_field :distance,{id: "input", value: 50 }%></p></p>
                            </div>
                            <p></p>
                            <div id="otherInfo">
                                <p class="formLable">Airplane</p>
                                <p class="formLable"><%= f.select :tailnumber,[],{}, {class: "form-control", id:'airplanes'}%></p>
                                <p class="formLable">Arrival Time at Destination Airport</p>
                                <p class="center"><%= f.datetime_select :arrival_time, :ampm => true, :minute_step => 15 %></p>
                                <p class="formLable">Departure Time From Destination Airport</p>
                                <p class="center"><%= f.datetime_select :depart_time, :ampm => true, :minute_step => 15 %></p>
                                <p class="center"><%= image_submit_tag("arrowImage.png", :class => "planTripGo") %></p>
                            </div>
                            
        
                <div style="clear: both;">&nbsp;</div>
            <% end %>
        </div>

</div>