<%= include_gon %>
<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'base', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'plan_trip', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'planTrip' %>

<div class="body">
<h1 class="title">Plan Your Trip</h1>

        <div class="form">
            
            <%= form_for(@plan_trip, url: plantrip_path) do |f| %>
                            
                            <div id="locationInfo">
                                <p class="formLable">State
                                <%= f.select :state, [],{}, {class: "form-control", id:'states', :onchange=> "changeCities();"}%></p>
                                <p class="formLable">City
                                <%= f.select :city, [],{}, {class: "form-control", id:'cities'}%></p>
                                <p class="formLable">Distance (mi)
                                <p class="center"><%= f.number_field :distance,{id: "input", value: 50 }%></p></p>
                            </div>
                            <p></p>
                            <div id="otherInfo">
                                <p class="formLable">Airplane
                                <%= f.select :tailnumber,[],{}, {class: "form-control", id:'airplanes'}%></p>
                                <p class="formLable">Nights Staying
                                <p class="center"><%= f.number_field :nights, {id: "input", value: 0 }%></p>
                                <p class="center"><%= image_submit_tag("arrowImage.png", :class => "planTripGo") %></p>
                            </div>
                            
        
                <div style="clear: both;">&nbsp;</div>
            <% end %>
        </div>

</div>