<header>
	<%= link_to(image_tag("chartairWhiteLogo.png", :id => "logo"), landing_path) %>

	<div id="navBar">
		<ul id="headerNavItems">
				<li class="item"><%= link_to "Plan Trip", plantrip_path,  method: :get %></li>
				<li class="item"><%= link_to "Search", search_path %></li>
				<li class="item"><%= link_to "About Us", about_us_path %></li>
				<li class="item"><%= link_to "Help", help_path %></li>
				
				<% if logged_in? %>
		          <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		              Account <b class="caret"></b>
		            </a>
		            <ul class="dropdown-menu">
		              <li class="darkGray"><%= link_to "Profile", profile_path,  method: :get%></li>
		              <li class="darkGray"><%= link_to "Trips", trips_path,  method: :get %></li>
		              <li class="darkGray"><%= link_to "Feedback", feedback_path,  method: :get %></li>
		              <li class="divider"></li>
		              <li class="darkGray">
		                <%= link_to "Log out", logout_path, method: :delete %>
		              </li>
		            </ul>
		          </li>
		        <% else %>
		          <li><%= link_to "Log in", login_path, :class => "item" %></li>
		        <% end %>
		</ul>
	</div>
</header>