<!DOCTYPE html>
<html>
  <head>
    <title>ChartAir</title>
    <%= include_gon %>
    <%= favicon_link_tag 'browserlogo_icon.ico' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    
    <%= yield %>

  </body>
  
</html>
